In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('weather.csv')

#head()

In [5]:
df.head(n=5)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [7]:
df.shape

(8784, 8)

In [8]:
df.index

RangeIndex(start=0, stop=8784, step=1)

In [13]:
df.columns

Index(['date/time', 'temp_c', 'dew_point_temp_c', 'rel_hum_%',
       'wind_speed_km/h', 'visibility_km', 'press_kpa', 'weather'],
      dtype='object')

In [12]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [14]:
df.dtypes

date/time            object
temp_c              float64
dew_point_temp_c    float64
rel_hum_%             int64
wind_speed_km/h       int64
visibility_km       float64
press_kpa           float64
weather              object
dtype: object